body {
  background: url("../images/background.png");
  color: #ffffff;
  margin-top: 30px;
}

h1 {
  font-size: 70px;
  font-family: "Megrim", cursive;
  text-align: center;
}

h4 {
  font-family: "Megrim", cursive;
}

.fancy {
  font-family: "Megrim", cursive;
}

p {
  font-family: "Quantico", sans-serif;
}

.centered {
  text-align: center;
}

.crystal-button {
  margin: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}

.crystals {
  height: 80px;
  padding: 20px;
}

.rainbow-gem {
  overflow: visible;
  background-image: url("../images/rainbow.gif");
  background-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
}

.random-number {
  text-align: center;
  font-family: "Righteous", cursive;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.8);
}

.current-score {
  text-align: center;
  font-family: "Quantico", sans-serif;
}

.total-wins,
.total-losses {
  font-family: "Quantico", sans-serif;
}
