.title {
    text-align: center;
}

.instructions {
    text-align: center;
}

.centered {
    text-align: center;
}

.images {
    text-align: center;
}

.crystals {
    height: 160px;
    padding: 20px;
}

.rainbow-gem {
    overflow: visible;
    background-image: url("../images/rainbow.gif");
    background-size: 300px;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
}

.random-number {
    text-align: center;
}

.current-score {
    text-align: center;
}

.total-score {
    text-align: center;
}