.title {
    text-align: center;
}

.instructions {
    text-align: center;
}

.crystals {
    text-align: center;
}

.random-number {
    text-align: center;
}

.current-score {
    text-align: center;
}

.total-score {
    text-align: center;
}